
.secret-keeper-header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 350%;
    padding-top: 1%;
    text-align: center;
    color: #696969;
}

.home {
    margin:0 auto; 
}

.sign-up, .sign-in {
    width:50%; 
    margin:0 auto; 
}

.sign-up, .sign-in, .center-button, #required-field, #invalid-email p, button {
    text-align:center;
}

.side-nav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
  }

.side-nav td {
    padding-bottom: 5%;
    text-decoration: none;
    font-size: 25px;
    color: #696969;
    display: block;
}

.side-nav td:hover {
    color: white;
}

.record-content {
    padding-top: 3%;
    position: relative;
}

.add-record-form, .edit-record-form {
    padding-top: 3%;
    width: 50%;
    margin:0 auto;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recordTable {
    width:50%; 
    margin:0 auto;
    text-align: center;
}

.recordTable td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#recordName {
    text-decoration: underline;
}

#header-nav {
    padding-top: 5%;
    color: white;
}

#records-nav {
    padding-top: 10%;
}

#add-nav {
    color: white;
    padding-top: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}

#add-record-button, #edit-record-button {
    border-radius: 5px;
    padding: 4%;
    
}

#submit-record-button, #edit-record-button {
    border-radius: 5px;
    padding: 1%;
    background-color: #696969;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

#header-nav, #records-nav, #add-nav {
    padding-left: 20%;
    padding-right: 20%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.secret-logo {
    position: absolute;
    right: 0px;
    padding-bottom: 5%;
}

input {
    vertical-align: -2px;
    position: relative;
}

label {
    padding-right: 10px;
    width:40%;
    text-align:right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input, label {
    float:left;
}