<h1 class="no-nav-header">Secret Keeper</h1>
<div class="home">
    <form class="no-nav-form" method="POST">
        <p>The Username is your unique identifier.  It cannot be changed once submitted (at this time).</p>
        <label for="username">*Username: </label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="first">*First Name: </label>
        <input type="text" name="first" id="first">
        <br><br>
        <label for="last">*Last Name: </label>
        <input type="text" name="last" id="last">
        <br><br>
        <label for="email">*Email: </label>
        <input type="text" name="email" id="email">
        <br><br>
        <label for="password">*Password: </label>
        <input type="text" name="password" id="password">
        <!--Revert back to function to test password against wanted char / the common passwords txt file for secure site-->
        <br><br>
        <!--Create function to test uniqueness of Username, SQL error otherwise-->
        <button type="button" id="testUser" onclick="testUsername(document.getElementById('username').value)">Check Username Avaliability</button>
        <br><br>
        <p id="avaliableResponse"></p>
        <br><br>
        <div class="center-button">
            <button id="createUser" type="submit">Sign Up!</button>
        </div>  
    </form>
    <div id="required-field" style="display: none;">
        <p>*Error: Missing required field.</p>
    </div>
    <div id="invalid-email" style="display: none;">
        <p>*Error: Incorrect email format</p>
    </div>
</div>
{{#each count}}
    <div id="helper" onclick="testCount({{total}})">!</div>
{{/each}}


<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>


<script language="JavaScript">
    
    function createAccount() {
        //Validate input and send to database
        let fName = document.getElementById('first').value;
        let lName = document.getElementById('last').value;
        let uName = document.getElementById('username').value;
        let email = document.getElementById('email').value;
        let pword = document.getElementById('password').value;
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;

        if (fName != '' && lName != '' && uName != '' && email != '' && pword != '') {
            //Output user info for now
            //Will send data to database and redirect
            console.log(fName);
            console.log(lName);
            console.log(uName);
            console.log(email);
            console.log(pword);
        }
        else {
            document.getElementById('required-field').style.display="inline";
        }

        //Validate email format
        if (!email.match(mailformat)) {
            document.getElementById('invalid-email').style.display="inline";
        }
    }
    
    function testUsername(username) {
        return $.ajax({
            url: '/createUser',
            data: {username: username},
            type: 'PUT',
            success: function(result) {
                testCount(result[0].total);
            }
        })
    }
    
    function testCount(count) {
        if (count == 0) {
            document.getElementById('avaliableResponse').innerHTML="Avaliable!";
        }
        else if (count==1){
            document.getElementById('avaliableResponse').innerHTML="NOT Avaliable, Try Again";
        }
        else {
            document.getElementById('avaliableResponse').innerHTML="Check Failed";
        }
    }

</script>
