<h1 class="no-nav-header">Secret Keeper</h1>
<script src="/js/createUserPage.js"></script>
<div class="home">
    <form class="no-nav-form" method="post">
        <label for="username">*Username: </label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="email">*Email: </label>
        <input type="text" name="email" id="email">
        <br><br>
        <label for="password">*Password: </label>
        <input type="text" name="password" id="password">
        <br><br>
        <div class="center-button">
            <button class="button-default" onclick="createAccount()" id="button" type="button">Check Form</button>
        </div>
        <br><br>
        <div class="center-button">
            <button class="button-default" id="createUser" type="submit" style="display: none;">Sign Up!</button>
        </div>  
    </form>
    <div id="required-field" style="display: none;">
        <p>*Error: Missing required field.</p>
    </div>
    <div id="invalid-username" style="display: none;">
        <p>*Error: Username is taken.</p>
    </div>
</div>
<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>

