<div class="home">
    <form class="sign-up" action="#" method="post">
        <label for="first">First Name: </label>
        <input type="text" name="first" id="first">
        <br><br>
        <label for="last">Last Name: </label>
        <input type="text" name="last" id="last">
        <br><br>
        <label for="user_name">Username: </label>
        <input type="text" name="username" id="user_name">
        <br><br>
        <label for="email">Username: </label>
        <input type="text" name="username" id="user_name">
        <br><br>
        <label for="password">Email: </label>
        <input type="text" name="email" id="email">
        <br><br>
        <div class="center-button">
            <button id="button" type="button">Sign Up!</button>
        </div>  
    </form>
</div>
<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>