<h1 class="no-nav-header">Secret Keeper</h1>
<div class="home">
    <form class="no-nav-form" method="post">
        <label for="first">*First Name: </label>
        <input type="text" name="first" id="first">
        <br><br>
        <label for="last">*Last Name: </label>
        <input type="text" name="last" id="last">
        <br><br>
        <label for="username">*Username: </label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="email">*Email: </label>
        <input type="text" name="email" id="email">
        <br><br>
        <label for="password">*Password: </label>
        <input type="text" name="password" id="password">
        <br><br>
        <div class="center-button">
            <button onclick="createAccount()" id="button" type="button">Sign Up!</button>
        </div>  
    </form>
    <div id="required-field" style="display: none;">
        <p>*Error: Missing required field.</p>
    </div>
    <div id="invalid-email" style="display: none;">
        <p>*Error: Incorrect email format</p>
    </div>
    <div id="invalid-password-upper" style="display: none;">
        <p>*Error: Password must contain at least one upper-case character.</p>
    </div>
    <div id="invalid-password-lower" style="display: none;">
        <p>*Error: Password must contain at least one lower-case character.</p>
    </div>
    <div id="invalid-password-special" style="display: none;">
        <p>*Error: Password must contain at least one special character.</p>
    </div>
    <div id="invalid-password-number" style="display: none;">
        <p>*Error: Password must contain at least one numeric character.</p>
    </div>
    <div id="invalid-password-length" style="display: none;">
        <p>*Error: Password must contain at least 12 characters.</p>
    </div>
</div>
<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>


<script language="JavaScript">
    
    function createAccount() {
        //Validate input and send to database
        let fName = document.getElementById('first').value;
        let lName = document.getElementById('last').value;
        let uName = document.getElementById('username').value;
        let email = document.getElementById('email').value;
        let pword = document.getElementById('password').value;
        var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
        var valid;

        if (fName != '' && lName != '' && uName != '' && email != '' && pword != '') {
            //Output user info for now
            //Will send data to database and redirect
            console.log(fName);
            console.log(lName);
            console.log(uName);
            console.log(email);
            console.log(pword);
        }
        else {
            document.getElementById('required-field').style.display="inline";
        }

        //Validate email format
        if (!email.match(mailformat)) {
            document.getElementById('invalid-email').style.display="inline";
        }

        valid = isValidPassword(pword);

        if (valid != 0) {
            if (valid == 1) {
                document.getElementById('invalid-password-upper').style.display="inline";
                document.getElementById('invalid-password-lower').style.display="none";
                document.getElementById('invalid-password-special').style.display="none";
                document.getElementById('invalid-password-number').style.display="none";
                document.getElementById('invalid-password-length').style.display="none";
            }
            else if (valid == 2) {
                document.getElementById('invalid-password-upper').style.display="none";
                document.getElementById('invalid-password-lower').style.display="inline";
                document.getElementById('invalid-password-special').style.display="none";
                document.getElementById('invalid-password-number').style.display="none";
                document.getElementById('invalid-password-length').style.display="none";
            }
            else if (valid == 3) {
                document.getElementById('invalid-password-upper').style.display="none";
                document.getElementById('invalid-password-lower').style.display="none";
                document.getElementById('invalid-password-special').style.display="inline";
                document.getElementById('invalid-password-number').style.display="none";
                document.getElementById('invalid-password-length').style.display="none";
            }
            else if (valid == 4) {
                document.getElementById('invalid-password-upper').style.display="none";
                document.getElementById('invalid-password-lower').style.display="none";
                document.getElementById('invalid-password-special').style.display="none";
                document.getElementById('invalid-password-number').style.display="inline";
                document.getElementById('invalid-password-length').style.display="none";
            }
            else if (valid == 5) {
                document.getElementById('invalid-password-upper').style.display="none";
                document.getElementById('invalid-password-lower').style.display="none";
                document.getElementById('invalid-password-special').style.display="none";
                document.getElementById('invalid-password-number').style.display="none";
                document.getElementById('invalid-password-length').style.display="inline";
            }
        }
        else {
            document.getElementById('invalid-password-upper').style.display="none";
            document.getElementById('invalid-password-lower').style.display="none";
            document.getElementById('invalid-password-special').style.display="none";
            document.getElementById('invalid-password-number').style.display="none";
            document.getElementById('invalid-password-length').style.display="none";
        }
    };

    function isValidPassword(password) {
        var lowerCaseLetters = /[a-z]/g;
        var upperCaseLetters = /[A-Z]/g;
        var specialCharacters = /[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/g;
        var numbers = /[0-9]/g;
        var i;
        var str;

        i = 0;
        while (i < password.length) {
            if (password[i].match(upperCaseLetters)) {
                break;
            }
            else if (i == (password.length - 1)) {
                return 1;
            }
            i++;
        }
        i = 0;
        while (i < password.length) {
            if (password[i].match(lowerCaseLetters)) {
                break;
            }
            else if (i == (password.length - 1)) {
                return 2;
            }
            i++;
        }
        i = 0;
        while (i < password.length) {
            if (password[i].match(specialCharacters)) {
                break;
            }
            else if (i == (password.length - 1)) {
                return 3;
            }
            i++;
        }
        i = 0;
        while (i < password.length) {
            if (password[i].match(numbers)) {
                break;
            }
            else if (i == (password.length - 1)) {
                return 4;
            }
            i++;
        }

        if ((password.length < 12) || (password.length > 30)) {
            return 5;
        }

        return 0;
    };

</script>
