<h1>Create User Page</h1>

<br>
<h2>Create User</h2>
<form id="addUserForm" method="post">
User first name:<br>
  <input type="text" name="user_fname">
  <br>
User last name:<br>
  <input type="text" name="user_lname">
  <br>    
Password:<br>
  <input type="text" name="user_password">
  <br>
Email:<br>
  <input type="text" name="user_email">
  <br>   
  <input type="submit" id="addUser" value="Submit">
</form> 