<h1 class="no-nav-header">Secret Keeper FAQs</h1>
<script src="/js/faq.js"></script>
<h3 class="no-nav-subheader">Don't see your question here? Leave us a note.</h3>
<form class="no-nav-form" method="post">
    <textarea class="faq-comments" name="content" id="question-content" rows="9" cols="50" maxlength="400" placeholder="Enter your question here"></textarea>
    <br><br>
    <button type="submit" value="Submit">Submit</button>
</form><br>
<div class="display-faqs">
    {{#each questions}}
        <tr>
            <td class="faq-header"><strong>{{question_content}}</strong></td><br>
        </tr>
    {{/each}}
</div>
<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>
