<h1 class="no-nav-header">Secret Keeper FAQs</h1>
<h3 class="no-nav-subheader">We have received your comment!</h3>
<div class="display-faqs">
    <table class="record-table">
    {{#each questions}}
        <tr>
            <td>{{question_content}}</td>
        </tr>
    {{/each}}
    </table>
    <p><a href="/" style="text-decoration: none;">Go Home</a></p>
</div>
<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>
