<h1 class="no-nav-header">Secret Keeper</h1>
<h3 class="no-nav-subheader">Thanks for your comment!</h3>
<div class="display-faqs">
    <div class="no-nav-links">
        <p>Go <a href="/" style="text-decoration: none;">Home</a></p>
        <p>Return to <a href="/faq" style="text-decoration: none;">FAQ page</a></p>
    </div>
</div>
<div class="secret-logo">
    <img src="../images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>
