<h1>Home Page</h1>
<br><br>
<div class="login-home">
    <form action="#" method="post">
        <label for="user_name">Username: </label>
        <input type="text" name="username" id="user_name">
        <br><br>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password">
        <br><br>
        <input type="submit" value="OK">
    </form>
</div>
<div id="nav">
    <ul>
        <li><a href="http://flip3.engr.oregonstate.edu:6060/createUser">Create New User Profile</a></li>
    </ul>
        <ul>
        <li><a href="http://flip3.engr.oregonstate.edu:6060/user">Temp link to User Profile</a></li>
    </ul>
    </div>
<div class="secret-logo">
    <img src="images/top-secret.jpg" width="200" height="200" alt="Top Secret">
</div>