<h1 class="no-nav-header">Secret Keeper</h1>
<div class="home">
    <form class="no-nav-form" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        <br><br>
        <label for="password">Password: </label>
        <input type="text" name="password" id="password">
        <br>
        <p>New User? <a href="/createUser" style="text-decoration: none;">Click here.</a></p>
        <div class="center-button">
            <button onclick="validateAccount()" id="button" type="button">Sign In</button>
        </div><br><br>
        <div class="securityToggle">
            <label class="flipSwitch">
                <input type="checkbox" id="flipSwitch">
                <span class="slider round"></span>
            </label>
        </div><br><br>
        <div id="site-secure" style="display: inline;"><p>Site Secure</p></div>
        <div id="site-not-secure" style="display: none;"><p>Site Not Secure</p></div>
    </form>
</div><br><br>
<div class="secret-logo">
    <img src="images/top-secret-white.png" width="350" height="350" alt="Top Secret">
</div>


<script language="JavaScript">
    
    function validateAccount() {
        let uName = document.getElementById('username').value;
        let pword = document.getElementById('password').value;
        testAccount(uName, pword);
        /*
        if (fName != '' && lName != '' && uName != '' && email != '' && pword != '') {
            //Outputting user info for now
            //Will validate input and redirect
            console.log(uName);
            console.log(pword);
        }
        else {
            document.getElementById('required-field').style.display="inline";
        }
        */
    };

    $('#flipSwitch').click(function() {
        if (document.getElementById('site-secure').style.display === "inline") {
            document.getElementById('site-secure').style.display = "none";
            document.getElementById('site-not-secure').style.display = "inline";
        }
        else {
            document.getElementById('site-secure').style.display = "inline";
            document.getElementById('site-not-secure').style.display = "none";    
        }
    });
    
    function testAccount(user_name,user_pass)
    {
        $.ajax({
            url: '/',
            data: {user_name: user_name, user_pass: user_pass},
            type: 'PUT',
            success: function(result) {
                count = result[0].total;
                if (count == 0) {

                }
                else if (count==1){
                    window.location.href = '/user/'+user_name+'&'+user_pass;
                }
                else {
                }
            }
        })
    }
</script>