<h1>Test DB</h1>
<br>
<br>
<table id="testTab" class="testTable">
      <tr>
        <th>Result</th>
    </tr>
     {{#each test}}
        <tr>
            <td>{{pname}}</td>
        </tr>
    {{/each}}
</table>
