<h1 class="no-nav-header">Kyle's Test Page</h1>
<div class="home">
    <form id="form1">
        <label for="password">Pre: </label>
        <input type="text" name="password" id="pre">
        <button type="submit">Encrypt</button>
    </form>
</div>
<div class="home">
    <form id="form2">
        <label for="password">Post: </label>
        <input type="text" name="password" id="post">
        <button type="submit">Decrypt</button>
    </form>
</div>

<h3>Output</h3>
  <div id='output'></div>

<script language="JavaScript">
    function startEncrypt(event) {
        event.preventDefault();
        var str = [... document.getElementById('pre').value ].map(char => encrypt(char)).join('');
        var middle = str.split();
        var enNum = Math.floor(Math.random() * 90000) + 10000;
        var clipNum = convNum(enNum);
        var i;
        for (i=0; i<clipNum[0];i++) {
            middle.push(getChar());
        }
        for (i=0; i<clipNum[1];i++) {
            middle.unshift(getChar());
        }
        middle.unshift(enNum);
        str = middle.join('');
        document.getElementById('output').innerHTML = str;
    }
    document.getElementById('form1').addEventListener('submit',startEncrypt);
    
    function startDecrypt(event) {
        event.preventDefault();
        var str = [... document.getElementById('post').value ];
        var middle = str;
        var enNumPre = middle.slice(0,5);
        var enNum = enNumPre.join('');
        var i;
        for (i=0; i<5;i++) {
            middle.shift();
        }
        var clipNum = convNum(enNum);
        for (i=0; i<clipNum[0];i++) {
            middle.pop();
        }
        for (i=0; i<clipNum[1];i++) {
            middle.shift();
        }
        middle = middle.map(middle => decrypt(middle));
        str = middle.join('');
        document.getElementById('output').innerHTML = str;
    }
    document.getElementById('form2').addEventListener('submit',startDecrypt);
</script>
