<h1>User Page</h1>
<br>
<br>


<br>
<table id="recordTab" class="recordTable">
</table>


<br>
<h2>Add Record</h2>
<form id="addRecordForm" method="post">
Password:<br>
  <input type="text" name="password">
  <br>
  <input type="submit" id="addRecord" value="Submit">
</form> 
