<h1>User Page</h1>
<body>
    <div id="nav">
    <ul>
        <li><a href="http://flip3.engr.oregonstate.edu:6060/editUser">Edit User Profile</a></li>
    </ul>
    </div>

<br>
<h2>Current Records</h2>
<table id="recordTab" class="recordTable">
    <tr>
        <th>Record Name</th>
        <th>Record Data</th>
        <th>Record URL</th>
    </tr>
    
    
    <td>
        <button onclick="" type="button">Delete</button>
    </td>
    <td>
        <button onclick="" type="button">Update</button>
    </td>
</table>


<br>
<h2>Add Record</h2>
<form id="addRecordForm" method="post">
Record name:<br>
  <input type="text" name="record_name">
  <br>
Record (password):<br>
  <input type="text" name="record_data">
  <br>
Corresponding Website URL:<br>
  <input type="text" name="record_URL">
  <br>    
  <input type="submit" id="addRecord" value="Submit">
</form> 
